body {
    background-color: rgb(100, 149, 237);
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: block;
    text-align: center;
    border: 2px solid black;
    padding: 16px;
    background-color: rgb(160, 160, 160);
}

nav a {
    padding: 6px;
    text-decoration: none;
    color: white;
}

nav a:hover{
    text-decoration: underline;
    font-weight: bold;
}

h1 {
    text-align: center;
}

#indexpic {
    height: 70vh;
    width: auto;
    display: inline;
}

main {
    display: inline-flex;
}

.about {
    font-size: 150%;
}